{% extends "email/base.html" %}
{% block subject %}Reset your ResolveHQ password{% endblock %}
{% block preheader %}Reset your password — this link expires in 1 hour.{% endblock %}
{% block content %}
<h1>Reset your password</h1>
<p>Hi {{ email }},</p>
<p>We received a request to reset the password for your ResolveHQ account. Click the button below to choose a new password.</p>

{% include "email/components/_button.html" with button_url=reset_url button_label="Reset Password" %}
{% include "email/components/_link_fallback.html" with link_url=reset_url %}
{% include "email/components/_security_notice.html" with expires_in="1 hour" requested_at=requested_at %}
{% endblock %}
